.head{
    width: 1203px;
    height: 89px;
    margin:0 auto;
}
.headtaob{
    margin-top: 20px;
    float: left;
}
#taobaologo{
    font-size: 45px!important;
    line-height: 45px;
    color:#ff4400;
}
.atten{
    width: 904px;
    height: 32px;
    background: #fef2f2;
    border:1px solid #ffb4a8;
    text-align: center;
    line-height: 32px;
    color: #6c6c6c;
    font-size: 12px;
    margin-left: 95px;
    margin-top: 22px;
    float: left;
}
.headR{
    width: 200px;
    height: 20px;
    float: right;
    margin-top: 10px;
}
.headR i{
    color:#ff4400;
    font-size: 16px!important;
    line-height: 16px;
    float: left;
}
.headR span{
    color:#666;
    font-size: 11px;
    line-height: 11px;
    float: left;
}
.bannerz{
    height: 600px;
    background: url(../images/loadbanner.jpg) center center;
    overflow: hidden;
}
.banner{
    width: 1203px;
    height: 600px;
    margin:0 auto;
    position:relative;
}
/*密码登录*/
#mimaload{
    position: absolute;
    width: 352px;
    height: 352px;
    background: #e9e9f2;
    top:120px;
    right:60px;
    padding:5px 5px 0 24px;
}
.mmw{
    width: 302px;
    height: 44px;
    color:#3c3c3c;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
    margin-top: 35px;
}
.user{
    width: 304px;
    height: 61px;
}
.user i{
    float: left;
    font-size: 20px!important;
    color:#fff;
    padding:0 10px;
    background: #ddd;
}
#username{
    width: 260px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    padding-left: 3px;
    float: left;
    border:none;
}
.pas{
    width: 306px;
    height: 60px;
}
.pas i{
    float: left;
    font-size: 20px!important;
    color:#fff;
    padding:0 10px;
    background: #ddd;
}
#password{
    width: 260px;
    height: 42px;
    border-radius: 0 5px 5px 0;
    float: left;
    padding-left: 3px;
    border:none;
}
#load1{
    width: 302px;
    height: 42px;
    margin-bottom: 22px;
    background: #ff4400;
    color:#fff;
    font-size: 14px;
    text-align: center;
    line-height: 42px;
    border-radius: 5px;
    border: none;
}
.wbzfbload{
    width: 302px;
    height: 44px;
}
.weiboload,.zfbload{
    width: 91px;
    height: 44px;
    float: left;
}
.weiboload i,.zfbload i{
    font-size: 17px!important;
    float: left;
    margin-right: 3px;
    line-height: 17px;
}
.weiboload i{color:#e52425;}
.zfbload i{color:#1ba9ee;}
.weiboload span,.zfbload span{
    font-size: 11px;
    color: #6c6c6c;
    line-height: 11px;
    float: left;
}
.forgetsth{
    margin-left: 105px;
    width: 200px;
    height: 20px;
}
#lianindex{cursor: pointer;}
.forgetsth span{
    font-size: 11px;
    line-height: 11px;
    color:#6c6c6c;
    margin-right: 10px;
}
#R_erweima{
    position:absolute;
    right: 66px;
    top:125px; 
}
#R_erweima i{
    color:#ff4400;
    font-size: 52px!important;
    line-height: 52px;
}
#R_erweima i:hover{color:red;}
.R_w{
    position:absolute;
    right:118px;
    top:125px; 
    color:#ff4400;
    background: #fefcee;
    border:1px solid #f3d995;
    width: 143px;
    height: 28px;
    font-size: 11px;
    line-height: 28px;
}
.R_w i{
    font-size: 14px!important;
    line-height: 28px;
    margin:0 8px 0 16px;
}
#jumpaitaobao{
    width: 670px;
    height: 480px;
    position: absolute;
    top:54px;
    left:54px;
    cursor: pointer;
}
/*二维码登录*/
#erweimaload{
    position: absolute;
    width: 352px;
    height: 352px;
    background: #e9e9f2;
    top:120px;
    right:60px;
    padding:5px 5px 0 24px;
    display: none;
}
.erweimmw{
    width: 302px;
    height: 18px;
    color:#3c3c3c;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
    margin-top: 35px;
    float: left;
}
#ewmpic{
    margin-left: 30px;
    position:absolute;
    float: left;
    top: 68px;
}
#ewmpic i{
    padding:0 30px;
    font-size: 80px!important;
    color:#000;
    background: #fff;
    float: left;
    /*margin-top: 14px;*/
}
#phonesaoyisao{
    display: none;
    width: 120px;
    height: 180px;
    float: left;
    margin-left:15px;
}
#saoyisao{
    width: 270px;
    height: 60px;
    float: left;
    margin:200px 0 0 80px;
}
.wzk{float: left;}
#saoyisao i{
    color:#ff4400;
    font-size: 30px!important;
    line-height: 30px;
    margin-right: 10px;
    float: left;
}
#saoyisao em{
    font-size: 11px;
    line-height: 11px;
    color:#9c9c9c;
}
#saoyisao a{
    font-size: 11px;
    line-height: 11px;
    color:#ff4400;
    margin:5px;
}
.dbwz{
    margin:255px 0 0 205px;
}
.dbwz span{
    float: left;
    font-size: 11px;
    line-height: 11px;
    color:#6c6c6c;
    margin-right: 15px;
}
/*右上角电脑标识*/
#R_computer{
    position:absolute;
    right: 66px;
    top:125px; 
    display: none;
}
#R_computer i{
    color:#ff4400;
    font-size: 52px!important;
    line-height: 52px;
}
#R_computer i:hover{color:red;}
.footerz{
    height: 197px;
    background: #fff;
    border-top:2px solid red;
}
.footer{
    width: 1123px;
    height: 195px;
    background: #fff;
    margin:0 auto;
    padding-top: 20px;
}
.footer li{
    height: 30px;
    font-size: 12px;
    line-height: 24px;
    color:#a4a4a4;
    float: left;
}
.footer li span{margin-right: 10px;cursor: pointer;}





