*{box-sizing:border-box;}
.headz{
    height: 36px;
    background: #f5f5f5;
}
.head{
    height: 36px;
    width: 1192px;
    background: #f5f5f5;
    margin:0 auto;
    font-size: 11px;
    text-align: center;
}
.head a{
    font-size: 11px;
    color:#6c6c6c;
    float: left;
}
.head i{
    float: left;
    color: #9c9c9c;
}
.headL{
    padding-top: 10px;
    float: left;
}
.hchangecolor:hover{color:#ff4400;}
.headL{margin-left:105px;}
.headL a:nth-child(2){
    margin-left: 7px;
    margin-right:19px;
}
.headL .h1{color:#f22e00;}
.headR{
    width: 700px;
    height: 36px;
    margin-right: 103px;
    padding-left:50px;
    float: right;
    padding-top: 10px;
}
.headR li:hover a,.headR li:hover i{
    color:#ff4400;
}
.headR .h1{
    color:#f22e00;
    float: left;
}
.headR li{
    display: inline-block;
    width: 80px;
    height: 26px;
    float: left;
}
.hline{
    float: left;
    margin-left: 15px;
    margin-top: 2px;
}
.hmenu_store,.hmenu_shop,.hmenu_net{
    font-size: 12px!important;
    line-height: 16px;}
/*下拉菜单*/
.myhtao{position: relative;}
.myhtao:hover .menuh1{display: block;}
.menuh1{
    position: absolute;
    top:26px;
    left:-5px;
    width: 84px;
    z-index: 1;
    overflow: hidden;
    border:1px solid #eeeeee;
    border-top:none;
    background: #fff;
    display: none;
}
.menuh1 li{
    display: block;
    width: 84px;
    height: 28px;    
    line-height: 28px;
    margin-top: 10px;
}
.menuh1 li a{
    font-size: 11px;
    color:#6c6c6c;
}
.hmenu_changecolor:hover{background: #f5f5f5;color:#6c6c6c;}
.menuh1 li:hover .mt{background: #f5f5f5;}

/*center zhongjian*/
.zj{
    width: 1192px;
    height: 515px;
    margin:0 auto;
}
.zjtop{
    width: 1192px;
    height: 94px;
    padding-top: 20px;
}
.zjtop i{
    color:#ff4001;
    font-size: 40px;
    line-height: 40px;
    float: left;
    margin-right: 10px;
}
.zjtop span{
    color:#3c3c3c;
    font-size: 20px;
    line-height: 40px;
    float: left;
}
.zjnavz{
    width: 1192px;
    height: 36px;
    border-bottom:2px solid #e6e6e6;
    margin:0 auto;
}
.zjnav{
    width: 730px;
    height: 36px;
    margin:0 auto;
}
.zjnav2{
    width: 180px;
    height: 36px;
    border-bottom:2px solid #ff4000;
    text-align: center;
    float:left;
}
.zjnav2 i{
    width:24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background: #ff4000;
    color:#fff;
    margin:0 5px 0 30px;
    float: left;
}
.zjnav2 span{
    float: left;
    color:#3e3e3e;
    margin-top: 3px;
}
.zjnav1,.zjnav3,.zjnav4{
    width: 180px;
    height: 36px;
    border-bottom:2px solid #e6e6e6;
    text-align: center;
    float:left;
}
.zjnav1 i,.zjnav3 i,.zjnav4 i{
    width:24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background: #ccc;
    color:#fff;
    margin:0 5px 0 30px;
    float: left;
    font-size: 13px;
}
.zjnav1 span,.zjnav3 span,.zjnav4 span{
    float: left;
    color:#999;
    margin-top: 3px;
}
/*填写账户信息*/
.zczhinfo{
    width: 450px;
    height: 550px;
    margin:60px auto;
}
.zczhinfo li{
    width: 450px;
    height: 37px;
    margin:40px 0; 
}
.zcxxw1_1,.zcxxw2_1,.zcxxw3_1,.zcxxw4_1,.zcxxw5_1{
    width: 90px;
    height: 37px;
    font-size: 14px;
    text-align: right;
    line-height: 37px;
    font-weight: 800;
    float: left;
    margin-right: 20px;
}
#zcxxw1_2,.zcxxw2_2,#zcxxw3_2,#zcxxw4_2,#zcxxw5_2{
    width: 220px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
    float: left;
}
#tip1,#tip2,#tip3,#tip4{
    width: 450px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin-top: 5px;
    padding-left:120px; 
}
#zcxxsure{
    width: 178px;
    height: 36px;
    margin-left: 111px;
    background: #ff3f01;
    color:#ffe2e3;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
}
/*有问题找小蜜*/
#xiaomiz{
    width: 150px;
    height: 304px;
    position:absolute;
    top:235px;
    right:50px;
}
#xiaomiz li:nth-child(2){
    width: 150px;
    height: 43px;
    background: #f7931e;
    color:#ffffdb;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    padding-left: 17px;
    border-radius: 4px 4px 0 0;
}

#xiaomiz li:nth-child(2) b{
    display:inline-block;
    font-size: 18px;
    line-height: 18px;
    margin-top: 16px;
    float: left;
}
#xiaomiz li:nth-child(2) em{
    display:inline-block;
    margin-top: 21px;
    float: left;
}
#xiaomiz li:nth-child(3),#xiaomiz li:nth-child(4),#xiaomiz li:nth-child(5),#xiaomiz li:nth-child(6),#xiaomiz li:nth-child(7),#xiaomiz li:nth-child(8){
    background: #f9f9f9;
    width: 150px;
    text-align: center;
    padding:0 7px;
}
#xiaomiz li:nth-child(3){
    height: 29px;
}
#xiaomiz li:nth-child(4){
    height: 48px;
}
#xiaomiz li:nth-child(5){
    height: 48px;
}
#xiaomiz li:nth-child(6){
    height: 48px;
}
#xiaomiz li:nth-child(7){
    height: 48px;
}
#xiaomiz li:nth-child(3) a,#xiaomiz li:nth-child(4) a,#xiaomiz li:nth-child(5) a,#xiaomiz li:nth-child(6) a,#xiaomiz li:nth-child(7) a{
    display: block;
    color: #000;
    font-size: 11px;
    line-height: 19px;
    border-bottom:1px solid #dddddd;
    padding:0 8px;
    float: left;
}
#xiaomiz li:nth-child(8){
    height: 42px;
    cursor: pointer;
}
#xiaomiz li:nth-child(8) a{
    background: #f9f9f9;
    color: #34bbf9;
    font-size: 12px;
    line-height: 32px;
    float: left;
    margin: 0 0px 0 30px;
}
.mizixun{
    float: left;
    margin:8px 0 0 7px;
    width: 15px;
    height: 15px;
    background-image: url(../images/xiaomif.png);
    background-position:-230px 0;
}
#xiaomiz li:nth-child(3):hover,#xiaomiz li:nth-child(4):hover,#xiaomiz li:nth-child(5):hover,#xiaomiz li:nth-child(6):hover,#xiaomiz li:nth-child(7):hover{
    background: #fff;
}
#xiaomiz li:nth-child(2){
    position: relative;
}
.mifoot{
    position: absolute;
    width: 45px;
    height: 37px;
    background-image: url(../images/xiaomif.png);
    background-position:0px 0;
    top:-25px;
    right: 0px;
}
.mihead{
    position: absolute;
    width: 49px;
    height: 65px;
    background-image: url(../images/xiaomif.png);
    background-position:-45px 0;
    top:-61px;
    left: 85px;
    z-index: 1;
}
.memeda{
    position: absolute;
    width: 63px;
    height: 34px;
    background-image: url(../images/xiaomif.png);
    background-position:-151px 0;
    top:-40px;
    left: 15px;
    z-index: 1;
}
.micha{
    position: absolute;
    width: 17px;
    height: 16px;
    background-image: url(../images/xiaomif.png);
    background-position:-213px 0;
    top:-8px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
}
.footerz{
    height: 197px;
    border-top:2px solid red;
}
.footer{
    width: 1123px;
    height: 195px;
    margin:0 auto;
    padding-top: 20px;
}
.footer li{
    height: 30px;
    font-size: 12px;
    line-height: 24px;
    color:#a4a4a4;
    float: left;
}
.footer li span{margin-right: 10px;cursor: pointer;}